* {
  box-sizing: border-box;
}

body {
  background: url("../assets/Геній.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #222;
}

ul {
  margin-left: auto;
  width: 60%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

li:last-child {
  position: absolute;
  top: 67%;
}

